<!DOCTYPE html>
<html ng-app>
<head>
  <title></title>
  
  <meta charset="utf-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"> </script>
  

</head>

<body>

  <h1>Meu primeiro App com AngularJs</h1>

  <div>
  	<label>Nome: </label>
  	<input type="text" ng-model="nome" placeholder="Digite seu nome" />
  	<input type="int" ng-model="idade" placeholder="Digite sua idade" />
  	<h1>Olá, {{nome}}! {{idade}} anos.</h1>
  	<p>1+2 = {{1+2}}</p>
  </div>


</body>
</html>